{% extends "base.html" %}

{% block content %}

	<h1 id="stopWatch" style="position: absolute; top: 0px; left: 0px; z-index: 1; margin: 10px; padding: 5px; background: white; font-family: digital-dream-regular;">00:00.000</h1>
	<canvas id="upperLayer" style="position: absolute; top: 0px; left: 0px; z-index: 1;"></canvas>
	<canvas id="gameArea" style="position: absolute; top: 0px; left: 0px;"></canvas>
	<canvas id="lowerLayer" style="position: absolute; top: 0px; left: 0px; z-index: -1;"></canvas>

{% endblock %}